@media screen and (max-width: 1600px){
	.header__cabinet{ right: 10px;}
	.header__butter{ left: 10px;}
}
@media screen and (max-width: 1540px){
	.header__row{ justify-content:space-around;}
}
@media screen and (max-width: 1300px){
	.header__telserch{ margin-right: 220px;}
	.header__logo{ margin-left: 50px;}
}
@media screen and (max-width: 1300px){
	.recomend:before{
		width: 100%;
		left: inherit;
	}
}
@media screen and (max-width: 1150px){

	.catalog__items-wrap{justify-content: space-around;}
}
@media screen and (max-width: 1100px){
	.paginator{ bottom: 0px;}
	.footer__social{ padding-left: 20px;}
	.product-cart__title{line-height: inherit;}
}
@media screen and (max-width: 992px){
	.left-menu__group.left-menu__content__item{ display: block;}
	.header__nav{ display: none;}
	.header__cabinet{ top: 45px; height: auto;}
	.cabinet__item{margin-right: 10px}
	.cabinet__item.login-pop { margin: 0;
		> a{height: 1px; overflow: hidden; visibility: hidden; width: 1px;}
	}
	.header__telserch{ margin-right: 70px; width: auto;}
	.header__tel{ position: absolute; left: 0; top: 0; font-size: 12px; width: 100%; background: #333; margin: 0; text-align: center;  color: #fff;
		a{font-size: 14px; letter-spacing: 1.5px; color: #fff; font-weight: 400;}
		&__title{display: none}
	}
	.header__butter{ position: absolute; top: 50px;}
	.header__logo{ margin-top:10px;}
	.top-slider__slide h2{ font-size: 38px; letter-spacing: 0;}
	.article__title{padding-bottom: 20px;}
	h2, .article__title, .product-cart__ttile{ font-size: 38px;}
	h3{ font-size: 20px;}
	.top-slider__slide .button{ margin-top: 20px;}
	.top-slider{ min-height: 1px; padding-top: 30px;}
	.top-slider__left{ padding-top: 0; padding-bottom: 20px;}
	.top-slider__slide{ align-items: center;}
	.footer__nav{ display: none;}
	.footer__contact{ width: 100%; border:none; margin-bottom: 30px; height: auto; }
	.footer__social{ width: 100%; }
	.footer__social-row{ justify-content:center; margin-bottom: 10px;}
	.footer__contact a{ width: auto;}
	.paginator{ bottom: -16px;}
	.btable{
		&__row{flex-wrap: wrap; padding-bottom: 30px}
		&__col_1{ width: 100%;}
		&__col{flex-grow: 1; }
		&__col:not(:first-child){margin-top: 20px;}
		&__col-price{padding: 15px;}
		&__count{    padding: 5px 0;}
		&__info{flex-grow: 1;}
	}
	.btable__col:nth-child(2){border-left: none;}
	.news__banner{
		&__title{font-size: 30px;}
		&__text{    font-size: 16px; padding: 15px 0; height: 120px;}
		&__header{font-size: 20px;}
	}
	.btable__input--finally{margin-bottom: 0;}
	.article__img--right{ margin: 0 0 20px 20px; width: 50%;}
	.article__img--left{margin: 5px 20px 20px 0; width: 50%;}
	.lCabinet{
		&__cols{flex-wrap: wrap;}
		&__col-right{margin: 0; padding:0; width: 100%;}
		&__col-left{width: 100%; margin-bottom: 20px;}
		&__group{ width: 264px; margin: 0 auto;}
		&__tabs_item{margin-top: 20px;}
	}
	.wrap-lCabinet-steps{margin-top:40px; margin-bottom: 70px;}
	.lCabinet__form{margin: 40px 15px 15px 25px;
		&__item{padding: 0 10px 0 0;}
	}
	.product-cart__col-left{width: 40%; min-width: 350px;}
	.product-cart__col-right{width: 60%;}
	.login-pop__menu-wrap{  max-width:360px; position: fixed; right: 0;display: none;left: 50%; top: 50%; width: 100%; transform: translate(-50%, -50%);
		&:before{content: none;}
	}
	.login-pop__menu:before{content: none;}
	.login-pop__menu{margin: 0 auto;}
	.header__cabinet.active .cabinet__item{height: 1px; width: 1px; overflow: hidden;}
	.actual .slick-dots{top:-95px}
	.top-slider{padding-bottom: 50px;}
	.main__col{flex-direction: column; align-items: center;}
	.footer__wrap{flex-direction: row;}
	.footer__contact a:not(last-child){margin-bottom: 10px}
	.footer__contact{ flex-direction:column; justify-content: center; align-items: flex-start; margin-bottom: 0}
	.main__col-left, .catalog__nav-title{ width: 250px;  position: absolute;  left: -100%;  top: 0; background-color: #fff; height: 100%;}
	.catalog__nav-sort--mob .catalog__nav-title{ left: inherit; position: relative;}
	.catalog__nav-arrow, .catalog__nav-title span{ display: none;}
	.catalog__nav-title{flex-direction: column; display: flex;}
	.main__col-right{width: 100%; padding-left: 0;}
	.sidebar__box{margin: 35px auto 0;}
	.sidebar__title-category{text-align: center; padding: 0 10px;}
	.catalog__items-wrap{padding-top: 35px; padding-bottom: 0;}
	.sidebar__title{padding: 0 0 22px 18px;}
	.sidebar{
		ul{ padding: 10px 8px 10px 9px;}
		&__item{
			padding: 0px 26px 0px 9px;
			border-bottom: 1px solid #f6f6f6;
    	min-height: 43px;
		}
	}
	.wrap-sidebar{border:none;}
	.suggest-nav-wrap{display: none;}
	.left-menu__content .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{height: 100%}
	.recomend{
		&:before{top: 20px;}
	}
	.lCabinet__tabs_item_3 .lCabinet__col-left{display: none;}
	.banner__inner-text{left: 10%;}
	.suggest-banner{right: 5%;}

}
@media screen and (max-width: 924px){
	.basket__box-left, .basket__box-right{padding: 0 15px;}
	.news__items{justify-content: space-around;}
	.news__item-wrap{width: 361px;}
	.news__item-wrap:nth-child(n) .news__item{margin: 15px}
	.booking-table{
		&__col_1{width: calc(100% - 400px);}
		&__col_2{width: 100px;}
		&__col_3{ width: 120px;}
		&__col_4{ width: 180px;}
	}
}
@media screen and (max-width: 767px){
	.header__row{ flex-direction: column; align-items: center; justify-content: center;}
	.header__telserch{ margin-right: 0; margin-bottom: 20px;}
	.header__logo{ margin-bottom: 30px; margin-top: 40px; margin-left: 0;}
	.actual__item h4{ font-size: 16px;}
	.about__left{ padding-right: 0;}
	.btable__select .jq-selectbox{width: 100%}
	.article__img--right, .article__img--left{ float: none; text-align: center; width: 100%; margin: 10px 0}
	.lCabinet__form{flex-direction: column;   margin: 30px 15px 15px;}
	.lCabinet__form__item{ padding: 0; margin: 0 auto 15px; width: 100%}
	.chat{padding: 25px 25px 15px;
		&__bottom{margin-bottom: 10px;}
		&__plane{margin-bottom: 20px}
		&__message-wrap{padding-top: 15px; padding-bottom: 10px; padding-right: 0}
	}
	.product-cart{flex-wrap:wrap;     justify-content: center;}
	.product-cart__col-left{width: 100%; margin-bottom: 20px;}
	.product-cart__col-right{width: 100%;}
	.banner__inner-text{ left: 30px;}
	.suggest-banner{right: 1%;}
	
}
@media screen and (max-width: 666px){
	.top-slider__slide{ flex-direction: column-reverse; align-items: center;}
	.top-slider__right{ width: 150px;}
	.top-slider__left{ text-align: center; width: 100%;}
	.paginator{ width: 300px; left: calc(50% - 150px);}
	.btable{
		&__row{margin: 35px 30px 0;}
		&__col_1{flex-wrap: wrap;}
		&__col:not(:first-child){width: 33.33%}
		&__img{ margin: 0 auto;}
		&__info{width: 100%; margin-right: 0; margin-top: 15px;}
	}
	.btable__select{margin-top: 15px;}
	.btable__select .jq-selectbox, .btable__selected{width: 100%}
	.news__banner__title{font-size: 23px;}
	.news__banner__header{font-size: 18px}
	.news__items{margin-top: 15px;}
	h2, .product-cart__title {font-size: 35px;}
	.news__wrap-title h2{padding: 20px 0;}
	.news__wrap-title{flex-direction: column;}
	.catalog__nav-pages{width: 100%; text-align: right}
	.basket__box{flex-direction: column; padding: 15px 0;}
	.basket__box-left, .basket__box-right{width: 100%;}
	.basket__box-right{border-left: none; border-top: 1px dashed #c6c6c6; padding-top: 15px; margin-top: 15px;}
	.basket__tabs_item_3 .btable__row{margin: 30px 30px 0; padding-bottom: 30px}
	.btable__callback-wrap{padding: 0 30px 30px;}
	.article__content-wrap{padding: 15px 0;}
	.lCabinet__catalog__items-wrap{padding-bottom: 20px;}
	.catalog{padding-bottom: 50px}
	.recomend{padding-bottom: 120px;}
	.product-cart{margin-top: 50px; margin-bottom: 40px;}
	.saleBlock__wrap{padding: 10px 10px 10px 60px;}
	.icon-attention:before{left: -50px;}
	.product-cart__subtitle{margin-bottom: 30px;}
	.booking__btns .button{margin-bottom: 20px;}
	.booking-table{margin-bottom: 30px;}
	.booking{margin-bottom: 50px;}
	.booking-table{
		&__col_1{width: 220px; min-width: 220px;}
	}
	.product-cart__instruction{margin: 0}
	.header__telserch{ padding-right: 0}
	.recomend__slider-wrap{margin: 0;}
	.recomend__slider{width: 360px; margin: 0 auto}
	.recomend {
		.slick-arrow{top: -30px;}
	}
	.booking-table{
	 	&__col_2{display: none;}
	 	&__row{  min-width: inherit;  width: 100%; }
	 	&__price{
	 		font-weight: 600;
	 		span{display: none;}
	 	}
		&__btn-xs{
			span{
				width: 100px;
			    font-size: 12px
			}
		} 
		&__col_4 {
		   width: 140px; padding-right: 15px;
		}
		&__col_1{width: calc(100% - 215px); min-width: 110px;}
		&__col_3{width: 75px;}
		&__col:last-child{ background-color: #f2f2f2; border-bottom: 1px solid #d9d9d9;}
		&__row .booking-table__col_3{ background-color: #e6e6e6; border-bottom: 1px solid #c0c0c0;}
		&__row.active .booking-table__col:last-child{     background-color: #dddddd;}
		&__row.active .booking-table__col:nth-child(3){ background-color: #c0c0c0;}
		.mCSB_scrollTools_vertical .mCSB_draggerContainer{left: 0;}
	}
	.booking-table__hidden-block{font-size: 12px; text-align: center; color: #747474; font-weight: 100; padding: 0 0 5px;}
	.wrap-tabs--lk{
		.btn-tabs.active:after, .btn-tabs--center.active:before, .btn-tabs--last.active:before {   border-width: 23px 0 23px 8px;}
		.btn-tabs--center.active:before, .btn-tabs--last.active:before {   left: -2px;	}
		.btn-tabs { font-size: 13px;  	}
	}
	.suggest-banner{right: inherit; bottom: 0; width: 150px;  position: relative; margin: 0 auto 20px;}
	.banner__inner{padding: 45px 15px;}
	.banner__inner-text{ position: relative; left: inherit; top: inherit; text-align: center;}
}
@media screen and (max-width: 479px){
	.header__search, .header__telserch{width: 100%;}
	.form_row--between-reg{flex-wrap: wrap; justify-content: center;}
	.popup-reg .form_input{ width: 100%;}
	.popup-reg__button{ text-align: center;}
	.login-pop__menu{ width: 300px;}
	.header__cabinet{ position: absolute;}
	.header__logo{ padding-right: 0px; max-width: 120px; margin-top: 40px;}
	.left-menu__wrap{ width: 100%;}
	.left-menu__content li{    padding: 12px 8px 16px 27px;}
	.actual__item, .recomend__slider{ width: 100%;}
	.actual__item-wrap{padding: 0 15px;}
	.actual__slider{ margin: 0;}
	.about{ padding-top: 50px;}
	.about:before{ top: 86px; height:calc(100% - 70px);}
	.footer__contact{ flex-direction: column; height: 85px;}
	.basket__summary{width: 100%;}
	.basket__summary-inner{flex-direction: column; padding: 15px 10px;}
	.basket__summary-col{padding: 10px 0;}
	.news__banner__text{font-size: 14px;}
	.news__item__content{padding: 20px 15px;}
	.news__banner__inner{ padding: 25px 15px 20px;}
	.news__nav_footer{padding: 25px 0;}
	h2, .article__title{ font-size: 26px;}
	.article__title{ margin-bottom: 30px; margin-top: 45px;}
	.catalog__nav{flex-direction: column}
	.catalog__nav-sort{ margin-bottom: 20px;}
	.chat { padding: 5px 5px 5px;}
	.product-cart__title{margin-bottom: 15px;}
	.product-cart__subtitle{margin-bottom: 20px;}
	.product-cart__title{font-size: 28px}
	.product-cart__description{margin-bottom: 15px;}
	.product-cart__col-left{min-width: inherit;}
	.cabinet__item { margin-right: 5px;
		> a{height: 35px; width: 35px;}
	}
	.banner{
		&__title{font-size: 38px;}
		&__text{font-size: 16px;}
		&__subtitle{font-size: 14px;}
	}
	.actual{
		padding-top: 70px;
		&:before{
			top:92px;
		}
		h2{margin-top: 10px;}
	}
	.layer{width: 0;}
	.booking-table__place{font-size: 12px; padding-left: 5px;}
	.booking-table__price{font-size: 14px; text-align: center;}
	.wrap-tabs--lk{
		.btn-tabs.active:after, .btn-tabs--center.active:before, .btn-tabs--last.active:before {
		    border-width: 22px 0 22px 8px;
		}
		.btn-tabs {	font-size: 11px;  	}
	}
	.booking-table__hidden-block{ letter-spacing: -0.5px; }

}
@media screen and (max-width: 425px){
	.btable{
		&__col:not(:first-child){width: 60px;}
		&__col:nth-child(n){border-left: none; }
	}
	.basket__container{	padding: 25px 0 0;}
	.btn-tabs--center.active:before, .btn-tabs--last.active:before{	border-width: 23px 0 23px 10px;}
	.btn-tabs.active:after{border-width: 23px 0 23px 10px;}
	.btn-tabs{font-size: 14px; 	padding: 15px 9px;	}
	.tabs-circle{padding-left: 10px;}
	.news__nav_footer, .catalog__nav_footer{flex-direction: column-reverse;}
	.btable__col-right{    flex-direction: column; align-items: left;}
	.basket__person{text-align: left}
	.lCabinet__form{margin: 15px 5px 5px;}
	.recomend__slide{padding: 20px 15px;}
	.product-cart__footer{flex-direction: column; align-items: flex-end;}
	.product-cart__price{margin-bottom: 15px; font-size: 24px}
	.product-cart__title{font-size: 22px;}
	.product-cart__subtitle{font-size: 14px;}
	.header__logo{max-width: 110px;}
	.footer__social{padding-left: 9px;}
	.icon span:first-child{margin-right: 6px;}
	.btable__row{padding: 35px 0px 30px;}
	.wrap-tabs--lk{
		.btn-tabs.active:after, .btn-tabs--center.active:before, .btn-tabs--last.active:before {
		    border-width: 20px 0 20px 8px;
		}
		.btn-tabs {	font-size: 8px;  	}
	}
	
}
@media screen and (max-width: 360px){
	.news__item-wrap{width: 100%}
	.news__item-wrap:nth-child(n) .news__item{
		margin: 15px 0;
	}
}

@media (min-width: 666px){
	.booking-table__hidden-block{display: none; }
}
@media (min-width: 992px){
	.mob_SortFilter{display: none;}
}