/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;background:#fff;color:#0f0f0f;position:relative;font-size: 14px;line-height: 1; font-weight: 400;  font-family: 'Raleway' , sans-serif;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1; padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

 @include font-face('BwSurcoDEMO', 'BwSurcoDEMO-Regular', 400);
 @include font-face('BwSurcoDEMO', 'BwSurcoDEMO-Bold', 700);
 @include font-face('Raleway', 'Raleway-Thin', 100);
 @include font-face('Raleway', 'Raleway-ExtraLight', 200);
 @include font-face('Raleway', 'Raleway-Light', 300);
 @include font-face('Raleway', 'Raleway-Regular', 400);
 @include font-face('Raleway', 'Raleway-Medium', 500);
 @include font-face('Raleway', 'Raleway-SemiBold', 600);
 @include font-face('Raleway', 'Raleway-Bold', 700);
 @include font-face('Raleway', 'Raleway-ExtraBold', 800);
 @include font-face('Raleway', 'Raleway-Heavy', 900);
 @include font-face('futura', 'futuralightctt', 300);


/*/fonts*/
/*header*/
    .header{ position: relative; border-bottom:1px solid #c6c6c6;
        &__butter{}
        &__main{}

        &__telserch{ display: flex; justify-content: space-between; align-items: center; width: 465px; padding-top: 4px;}
        &__row{ display: flex; justify-content:space-between; align-items: center; min-height: 125px;}
        &__nav {
            ul { display: flex; justify-content: space-between; align-items: center; list-style-type:none; margin: 0; padding: 3px 0 0; text-transform: uppercase; font-weight: 400; font-size: 12px; min-height: 60px;
              a{ color: #0f0f0f; position: relative; text-decoration: none;
                &:before{ content: ''; position: absolute; left:calc(50% - 4px); bottom: -12px; width: 8px; height: 8px; border-radius:50%; background-color: #ffea00; opacity: 0; transition: all 100ms;}
                &:hover:before{ opacity: 1;}
              }
            }
        }
        &__search{border:1px solid rgb(198, 198, 198); width: 283px;  height: 40px; border-radius: 20px; position: relative; display: flex; justify-content: flex-start; align-items: center; padding-left: 41px;  box-shadow: 2.248px 5.563px 12px 0px rgba(0, 0, 0, 0.12); padding-right: 8px; z-index: 50;
            &:before{content: ''; position: absolute; background-image: url(../images/search.png); width: 16px; height: 16px; left: 11px;}
            input{border:none; width: 100%; font-weight: 100; color: #000; background-color: transparent;}
        }
        &__tel{ margin-left: 20px; padding-bottom: 4px;
          p{ margin: 0;}
          a{ color: #0f0f0f; font-family:'BwSurcoDEMO', sans-serif; font-weight: 700; font-size:19px; display: block; padding-top: 6px;;}
        }
        &__cabinet{ position: absolute; top: 33px; right: 47px;}
    }
    .search-style{ list-style-type: none; background-color: rgb(255, 255, 255); box-shadow: 2.248px 5.563px 12px 0px rgba(0, 0, 0, 0.12); padding: 20px; border-radius: 20px 15px 5px; width: 100%!important; position: absolute!important; top: calc(100% + 12px) !important; left: 0!important; font-weight: 100;
      li{ margin-bottom: 16px;}
    }
    .ui-helper-hidden-accessible{ display: none;}
    .cabinet{ display: flex; justify-content: center; align-items: center;
        &__menu-wrap{position: absolute; right: 0; top:calc(100% + 27px);
          &:before{content: ''; position: absolute; right: 20px; top: -6px; width: 22px; height: 22px; background-color: #fff; box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12); transform:rotate(45deg); z-index: 10;}
        }
        &__menu{ font-weight: 100; background-color: #fff; box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);  width: 136px; z-index: 20; border-radius: 3px; position: relative;
          &:before{content: ''; position: absolute; right: 20px; top: -6px; width: 22px; height: 22px; background-color: #fff; transform:rotate(45deg); z-index: -1;}
          a{ color: #1a1a1a; text-decoration: none;}
          ul{ list-style-type: none; padding: 16px 13px 4px; margin: 0; width: 100%;}
          li{border-bottom: 1px solid #c6c6c6;padding: 0 0 12px 14px;   margin-bottom: 13px;
            &:last-child{ border-bottom:none; margin-bottom: 0;}
          }
        }
        &__login{ position: relative;
          &>a{border:2px solid #fff;border-radius: 50%; background-color: rgb(137, 137, 137);  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24); width: 62px; height: 62px; overflow: hidden; display: block; transform:translateZ(0); position: relative;
            img{ position: absolute; top: 50%; left: 50%;  transform:translate(-50%, -50%); max-width: none;}
          }
        }
        &__item{ margin-right: 19px;
            a{ display: flex; border-radius:50%; width: 40px; height: 40px; border:1px solid #000; justify-content: center; align-items: center; cursor: pointer;
                &:hover{background-color: rgb(255, 234, 0);box-shadow: 0px 6px 13px 0px rgba(255, 234, 0, 0.75);  border-color:  rgb(255, 234, 0);
                    .cabinet__market{ background-image: url(../images/ic01-h.png);}
                    .cabinet__basket{ background-image: url(../images/ic02-h.png);}
                    .cabinet__user{ background-image: url(../images/ic03-h.png); }
                }
            }
        }
        &__market{ background-image: url(../images/ic01.png); width: 17px; height: 21px;}
        &__basket{ background-image: url(../images/ic02.png); width: 18px; height: 20px;}
        &__user{ background-image: url(../images/ic03.png); width: 17px; height: 18px;}
    }

    
/*END header*/