<section class="actual">
    <div class="mbox">
        <h2>Актуально</h2>
        <div class="actual__slider">
            <div class="actual__slide-wrap">
                <div class="actual__slide">
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide03.jpg" alt="" data-object-fit>
                            <div class="actual__texter">
                                <h4>Blend-a-med</h4>
                                <h6>трав'яна паста для повноцінного захисту зубів</h6>
                                <p>За кожну властивість зубної пасти відповідає певний її компонент. Основою будь пасти</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide01.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Йодомарин</h4>
                                <h6>Препарати йоду</h6>
                                <p>Йод – це елемент, який бере участь у синтезі гормонів щитоподібної залози: тироксину та трийодтироніну...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide02.jpg" alt="">
                            <div class="actual__texter">
                                <h4>АЕвіт</h4>
                                <h6>Будь красива та спортивна</h6>
                                <p>Властивості препарату визначаються фармакологічними ефектами жиророзчинних вітамінів А і Е, що входять до його складу...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide03.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Blend-a-med</h4>
                                <h6>трав'яна паста для повноцінного захисту зубів</h6>
                                <p>За кожну властивість зубної пасти відповідає певний її компонент. Основою будь пасти</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide01.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Йодомарин</h4>
                                <h6>Препарати йоду</h6>
                                <p>Йод – це елемент, який бере участь у синтезі гормонів щитоподібної залози: тироксину та трийодтироніну...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide02.jpg" alt="">
                            <div class="actual__texter">
                                <h4>АЕвіт</h4>
                                <h6>Будь красива та спортивна</h6>
                                <p>Властивості препарату визначаються фармакологічними ефектами жиророзчинних вітамінів А і Е, що входять до його складу...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide03.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Blend-a-med</h4>
                                <h6>трав'яна паста для повноцінного захисту зубів</h6>
                                <p>За кожну властивість зубної пасти відповідає певний її компонент. Основою будь пасти</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide01.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Йодомарин</h4>
                                <h6>Препарати йоду</h6>
                                <p>Йод – це елемент, який бере участь у синтезі гормонів щитоподібної залози: тироксину та трийодтироніну...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide02.jpg" alt="">
                            <div class="actual__texter">
                                <h4>АЕвіт</h4>
                                <h6>Будь красива та спортивна</h6>
                                <p>Властивості препарату визначаються фармакологічними ефектами жиророзчинних вітамінів А і Е, що входять до його складу...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide03.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Blend-a-med</h4>
                                <h6>трав'яна паста для повноцінного захисту зубів</h6>
                                <p>За кожну властивість зубної пасти відповідає певний її компонент. Основою будь пасти</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide01.jpg" alt="">
                            <div class="actual__texter">
                                <h4>Йодомарин</h4>
                                <h6>Препарати йоду</h6>
                                <p>Йод – це елемент, який бере участь у синтезі гормонів щитоподібної залози: тироксину та трийодтироніну...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                    <div class="actual__item-wrap"><a href="#" class="actual__item">
                        <div class="actual__img">
                            <img src="images/slide02.jpg" alt="">
                            <div class="actual__texter">
                                <h4>АЕвіт</h4>
                                <h6>Будь красива та спортивна</h6>
                                <p>Властивості препарату визначаються фармакологічними ефектами жиророзчинних вітамінів А і Е, що входять до його складу...</p>
                            </div>
                        </div>
                        <div class="actual__txt"><span>06/04/2017</span><span>...детальніше</span></div>
                    </a></div>
                </div>
            </div>

        </div>
    </div>
</section>