<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="footer__nav">
                <div class="footer__col">
                    <div class="footer__nav__item">
                        <a href="">Робота у нас</a>
                    </div>
                    <div class="footer__nav__item">
                        <a href="#">Новини</a>
                    </div>

                </div>
                <div class="footer__col">
                    <div class="footer__nav__item">
                        <a href="#">Бонусна програма</a>
                    </div>
                    <div class="footer__nav__item">
                        <a href="#">Вигідні пропозиції</a>
                    </div>
                </div>
                <div class="footer__col">
                    <div class="footer__nav__item">
                        <a href="#">Резерв та замовлення</a>
                    </div>
                    <div class="footer__nav__item">
                        <a href="#">Календар подій</a>
                    </div>
                </div>
            </div>
            <div class="footer__contact">
                <a href="tel:0 (800) 30 18 18" class="icon icon--nohover numeric"><span><img src="images/ic4.png" alt=""></span><span>0 (800) 30 18 18</span></a>
                <a href="mailto:dovidka@hmpa.com.ua" class="icon icon--nohover"><span><img src="images/ic5.png" alt=""></span><span>dovidka@hmpa.com.ua</span></a>
            </div>
            <div class="footer__social">
                <div class="footer__social-row">
                    <span>Синиця в соц. :</span>
                </div>
                <div class="footer__social-row">
                    <a href="#" class="icon"><span><img src="images/ic6.png" alt=""></span></a>
                    <a href="#" class="icon"><span><img src="images/ic7.png" alt=""></span></a>
                    <!-- <a href="#" class="icon"><span><img src="images/ic8.png" alt=""></span></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="copyright"><span>© <span class="numeric">2017</span> Синиця аптека</span></div>
</footer>
<!-- FOOTER -->
<script>
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
</script>

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css/develop2.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/adaptation.css">

<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script src="js/plagins/jquery-ui.js"></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.mCustomScrollbar.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
