<!-- HEADER -->
<header>
    <div class="header">
        <div class="header__butter"></div>
        <div class="header__main">
            <div class="mbox">
                <div class="header__row">
                    <a href="#" class="header__logo"><img src="images/logo.png" alt=""></a>
                    <div class="header__telserch">
                        <div class="header__search">
                            <input type="text" placeholder="Знайди потрібне">
                            <ul class="dropdown">
                                <li>lorem</li>
                                <li>ipsum</li>
                            </ul>
                        </div>
                        <div class="header__tel">
                            <p>Зателефонуй нам:</p>
                            <p><a href="tel:0 (800) 30 18 18">0 (800) 30 18 18</a></p>
                        </div>
                    </div>
                </div>
                <div class="header__nav">
                    <ul>
                        <li><a href="#">Медикаменти</a></li>
                        <li><a href="#">Лікувальна косметика</a></li>
                        <li><a href="#">Мама та маля</a></li>
                        <li><a href="#">Особиста гігієна</a></li>
                        <li><a href="#">Медичні товари</a></li>
                        <li><a href="#">Вітаміни. Бади. Трави</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="header__cabinet"></div>
    </div>
</header>
<!-- /HEADER -->

