<!-- HEADER -->
<header>
    <div class="header">
        <div class="header__butter">
            <div class="header__butter-button"><span></span></div>
            <div class="left-menu">
                <div class="left-menu__wrap">
                    <div class="left-menu__close"><button><span></span><span></span></button></div>
                    <div class="left-menu__content">
                        <div class="left-menu__group">
                            <ul>
                                <li><a href="#">Медикаменти</a></li>
                                <li><a href="#">Лікувальна косметика</a></li>
                                <li><a href="#">Мама та маля</a></li>
                                <li><a href="#">Особиста гігієна</a></li>
                                <li><a href="#">Медичні товари</a></li>
                                <li><a href="#">Вітаміни. Бади. Трави</a></li>
                            </ul>
                        </div>
                        <div class="left-menu__main">
                            <ul>
                                <li><a href="#">Новини</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Робота у нас</a></li>
                                <li><a href="#">Пропозиції</a></li>
                                <li><a href="#">Календар подій</a></li>
                                <li><a href="#">Тематика місяця</a></li>
                                <li><a href="#">Бонусна програма</a></li>
                                <li><a href="#">Резерв та замовлення</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="mbox">
                <div class="header__row">
                    <a href="#" class="header__logo"><img src="images/logo.png" alt=""></a>
                    <div class="header__telserch">
                        <div class="header__search">
                            <input type="text" placeholder="Знайди потрібне" id="search">
                        </div>
                        <div class="header__tel">
                            <p>Зателефонуй нам:</p>
                            <p><a href="tel:0 (800) 30 18 18">0 (800) 30 18 18</a></p>
                        </div>
                    </div>
                </div>
                <div class="header__nav">
                    <ul>
                        <li><a href="#">Медикаменти</a></li>
                        <li><a href="#">Лікувальна косметика</a></li>
                        <li><a href="#">Мама та маля</a></li>
                        <li><a href="#">Особиста гігієна</a></li>
                        <li><a href="#">Медичні товари</a></li>
                        <li><a href="#">Вітаміни. Бади. Трави</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="header__cabinet cabinet">
            <div class="cabinet__item"><a href="#"  ><span class="cabinet__market"></span></a></div>
            <div class="cabinet__item"><a href="#"  ><span class="cabinet__basket"></span></a></div>
            <div class="cabinet__item login-pop"><a href="#"  ><span class="cabinet__user"  ></span></a>
                <div class="login-pop__menu-wrap">
                    <div class="login-pop__menu">
                        <div class="login-pop__title"><span>Вхід в особистий кабінет</span></div>
                        <div class="login-pop__content">
                            <form action="ajax.php" class="login-pop__form">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="email" name="contact_mail" required="required" value="" placeholder="Введи E-mail">
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="password" name="contact_pass" required="required" value="" placeholder="Пароль">
                                    </div>
                                </div>
                                <div class="form_row form_row--between">
                                    <label><input type="checkbox"><i></i><span>Запам’ятай мене</span></label>
                                    <a href="#">Забули пароль?</a>
                                </div>
                                <div class="form_row">
                                    <button class="button button--reverse"><span>Вхід</span></button>
                                </div>
                            </form>
                            <div class="login-pop__socials">
                                <h6>Зайди через соц мережі:</h6>
                                <p>
                                    <a href="#" class="icon icon--white"><span><img src="images/ic6-w.png" alt=""></span></a>
                                    <a href="#" class="icon icon--white"><span><img src="images/ic7-w.png" alt=""></span></a>
                                    <a href="#" class="icon icon--white"><span><img src="images/ic8-w.png" alt=""></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="login-pop__register"><a href="#">Зареєструватися</a></div>
                    </div>
                </div>
            </div>

            <div class="cabinet__login"  style="display: none;">
                <a href="#"><img src="images/ava.png" alt=""></a>
                <div class="cabinet__menu-wrap">
                    <div class="cabinet__menu">
                        <ul>
                            <li><a href="#">Мій профіль</a></li>
                            <li><a href="#">Вихід</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

