<!-- HEADER -->
<header>
    <div class="header">
        <div class="header__butter">
            <div class="header__butter-button"><span></span></div>
            <div class="left-menu">
                <div class="left-menu__wrap">
                    <div class="left-menu__close"><button><span></span><span></span></button></div>
                    <div class="left-menu__content">
                        <div class="left-menu__group">
                            <ul>
                                <li><a href="#">Медикаменти</a></li>
                                <li><a href="#">Лікувальна косметика</a></li>
                                <li><a href="#">Мама та маля</a></li>
                                <li><a href="#">Особиста гігієна</a></li>
                                <li><a href="#">Медичні товари</a></li>
                                <li><a href="#">Вітаміни. Бади. Трави</a></li>
                            </ul>
                        </div>
                        <div class="left-menu__main">
                            <ul>
                                <li><a href="#">Новини</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Робота у нас</a></li>
                                <li><a href="#">Пропозиції</a></li>
                                <li><a href="#">Календар подій</a></li>
                                <li><a href="#">Тематика місяця</a></li>
                                <li><a href="#">Бонусна програма</a></li>
                                <li><a href="#">Резерв та замовлення</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="mbox">
                <div class="header__row">
                    <a href="#" class="header__logo"><img src="images/logo.png" alt=""></a>
                    <div class="header__telserch">
                        <div class="header__search">
                            <input type="text" placeholder="Знайди потрібне" id="search">
                        </div>
                        <div class="header__tel">
                            <p>Зателефонуй нам:</p>
                            <p><a href="tel:0 (800) 30 18 18">0 (800) 30 18 18</a></p>
                        </div>
                    </div>
                </div>
                <div class="header__nav">
                    <ul>
                        <li><a href="#">Медикаменти</a></li>
                        <li><a href="#">Лікувальна косметика</a></li>
                        <li><a href="#">Мама та маля</a></li>
                        <li><a href="#">Особиста гігієна</a></li>
                        <li><a href="#">Медичні товари</a></li>
                        <li><a href="#">Вітаміни. Бади. Трави</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="header__cabinet cabinet">
            <div class="cabinet__item"><a href="#"  ><span class="cabinet__market"></span></a></div>
            <div class="cabinet__item"><a href="#"  ><span class="cabinet__basket"></span></a></div>
            <div class="cabinet__item" style="display: none;"><a href="#"  ><span class="cabinet__user"  ></span></a></div>
            <div class="cabinet__login">
                <a href="#"><img src="images/ava.png" alt=""></a>
                <div class="cabinet__menu-wrap">
                    <div class="cabinet__menu">
                        <ul>
                            <li><a href="#">Мій профіль</a></li>
                            <li><a href="#">Мій кошик</a></li>
                            <li><a href="#">Замовлення</a></li>
                            <li><a href="#">Вихід</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

