<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>
    <div class="popup popup-lost" id="popup-lost">
        <div class="popup__title"><span>Приєднуйся до нас</span></div>
        <div class="popup__content popup-lost__content">
            <div class="popup__form">
                <form action="ajax.php">
                    <div class="form_row form_row--center">
                        <div class="form_input ">
                            <input type="email" name="contact_email" required="required" value="" >
                            <div class="placeholder">E-mail<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--center">

                        <div class="form_input  popup-lost__button">
                            <button class="button button--reverse"><span>Надіслати</span></button>
                        </div>
                    </div><div class="form_row form_row--center">
                        <div class="form_input popup-reg__text">
                            <p>Введи адресу електронної пошти, яку ти використовував при реєстрації та ми надішлемо тобі інструкції щодо скидання пароля..</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popup popup-reg" id="popup-reg">
        <div class="popup__title"><span>Приєднуйся до нас</span></div>
        <div class="popup__content">
            <div class="popup__form">
                <form action="ajax.php">
                    <div class="form_row form_row--between-reg">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" >
                            <div class="placeholder">Ім’я <i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="text" name="contact_surname" required="required" value="">
                            <div class="placeholder">Прізвище<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input ">
                            <input type="email" name="contact_email" required="required" value="" >
                            <div class="placeholder">E-mail<i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" class="tel-mask">
                            <div class="placeholder">Телефон</div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input">
                            <input type="password" name="pass" required="required" value="" >
                            <div class="placeholder">Пароль<i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="password" name="repass" value="" required="required">
                            <div class="placeholder">Повтори пароль<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input popup-reg__text">
                            <p>Поля які позначені <i>*</i>, є обов’язковими <br>
                                для заповнення</p>
                        </div>
                        <div class="form_input popup-reg__button">
                            <button class="button button--reverse"><span>Зареєструватися</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__social">
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic6-w.png" alt=""></span></a>
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic7-w.png" alt=""></span></a>
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic8-w.png" alt=""></span></a>
        </div>
    </div>

</div>