<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>
    <div class="popup popup-lost" id="popup-lost">
        <div class="popup__title"><span>Приєднуйся до нас</span></div>
        <div class="popup__content popup-lost__content">
            <div class="popup__form">
                <form action="ajax.php">
                    <div class="form_row form_row--center">
                        <div class="form_input ">
                            <input type="email" name="contact_email" required="required" value="" >
                            <div class="placeholder">E-mail<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--center">

                        <div class="form_input  popup-lost__button">
                            <button class="button button--reverse"><span>Надіслати</span></button>
                        </div>
                    </div><div class="form_row form_row--center">
                        <div class="form_input popup-reg__text">
                            <p>Введи адресу електронної пошти, яку ти використовував при реєстрації та ми надішлемо тобі інструкції щодо скидання пароля..</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="popup popup-reg" id="popup-reg">
        <div class="popup__title"><span>Приєднуйся до нас</span></div>
        <div class="popup__content">
            <div class="popup__form">
                <form action="ajax.php">
                    <div class="form_row form_row--between-reg">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" >
                            <div class="placeholder">Ім’я <i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="text" name="contact_surname" required="required" value="">
                            <div class="placeholder">Прізвище<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input ">
                            <input type="email" name="contact_email" required="required" value="" >
                            <div class="placeholder">E-mail<i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" class="tel-mask">
                            <div class="placeholder">Телефон</div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input">
                            <input type="password" name="pass" required="required" value="" >
                            <div class="placeholder">Пароль<i>*</i></div>
                        </div>
                        <div class="form_input">
                            <input type="password" name="repass" value="" required="required">
                            <div class="placeholder">Повтори пароль<i>*</i></div>
                        </div>
                    </div>
                    <div class="form_row form_row--between-reg">
                        <div class="form_input popup-reg__text">
                            <p>Поля які позначені <i>*</i>, є обов’язковими <br>
                                для заповнення</p>
                        </div>
                        <div class="form_input popup-reg__button">
                            <button class="button button--reverse"><span>Зареєструватися</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__social">
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic6-w.png" alt=""></span></a>
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic7-w.png" alt=""></span></a>
            <a href="#" class="icon icon--white icon--bh"><span><img src="images/ic8-w.png" alt=""></span></a>
        </div>
    </div>
    <div class="popup popup--accept" id="popup-accept">
        <div class="popup__title"><span>Підтвердження</span></div>
        <div class="popup__content popup__content--accept">
            <div class="popup__text--accept">
                На Ваш e-mail / телефон надіслано код підтвердження. Введіть код.
                    Якщо Ви не отримали підтвердження зверніться у аптеку <br>
                    для корегування даних картки.
                </div>
                <div class="popup__form">
          <form action="ajax.php">
            <div class="form_row form_row--center">
                <div class="form_input form_input--sm ">
                <input type="text"  class="accept-mask recuired" required="required" placeholder="xx xx xx" >
              </div>
            </div>
          </form>
           <div class="form_input popup--accept__button">
            <a href="#" class="button button--lCabinet">
                <span>Підтвердити</span>
            </a>
          </div>
        </div>
        </div>
    </div>
    <div class="popup popup--number" id="popup-numberCard">
        <div class="popup__title"><span>Номер картки</span></div>
        <div class="popup__content popup__content--number">
          <form action="ajax.php">
            <div class="form_row form_row--center">
                <div class="form_input form_input--xs ">
                <input type="text"  class="card-mask recuired" required="required" placeholder="xx xx x" >
              </div>
            </div>
          </form>
           <div class="form_input popup--number__button">
            <a href="#" class="button button--lCabinet">
                <span>Далі</span>
            </a>
          </div>
        </div>
        </div>
    </div>
    <div class="popup popup--anketa" id="popup-anketa">
        <div class="popup__title"><span>Анкета картки</span></div>
        <div class="popup__text">Підтвердіть будь ласка Ваші дані та відкорегуйте якщо є невідповідність.</div>
        <div class="popup__content popup__content--anketa">
          <form action="ajax.php">
            <div class="form_rows--anketa">
                <div class=" form_row--anketa">
                  <div class="form_input--anketa form_input--anketa-lastName">
                    <span>Прізвище: </span>
                    <input type="text" required="required" value="Хмиз">
                  </div>
                </div>
                <div class="form_row--anketa">
                  <div class="form_input--anketa ">
                    <span>Ім'я: </span>
                    <input type="text" required="required" value="Олександр">
                  </div>
                </div>
                <div class=" form_row--anketa">
                  <div class="form_input--anketa">
                    <span>Адреса: </span>
                    <input type="text" required="required" value="вул. Проскурівська 40/1">
                  </div>
                </div>
                <div class=" form_row--anketa">
                  <div class="form_input--anketa form_input--anketa-bDay">
                    <span>Дата народження: </span>
                    <input type="text" required="required" value="10.03.1996">
                  </div>
                </div>
                <div class=" form_row--anketa">
                  <div class="form_input--anketa">
                    <span>E-mail: </span>
                    <input type="text" required="required" value="korystuvach@gmail.com">
                  </div>
                </div>
                <div class=" form_row--anketa">
                  <div class="form_input--anketa">
                    <span>Телефон: </span>
                    <input type="text" required="required" value="+38 (098) 202 34 39">
                  </div>
                </div>
              </div>
          </form>
           <div class="form_input popup--anketa__button">
            <a href="#" class="button button--lCabinet">
                <span>Підтвердити</span>
            </a>
          </div>
        </div>
        </div>
    </div>
</div>