  <!-- mob_menuSortFilter -->
  <div class="left-menu"  data-menu="mobFilter">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Фільтр</div>
        <button><span></span><span></span></button></div>
      <div class="left-menu__content">
        <div class="wrap-sidebar">
          <div class="sidebar__title-category">Для зниження холестирину</div>
          <div class="sidebar__box">
            <form>
              <div class="filter">
                <h1 class="filter__title">Форма випуску:</h1>
                <div class="filter__inputs-wrap">
                  <div class="filter__inputs js-custom-scroll">
                    <p>
                      <input type="checkbox" id="form1" name="form1">
                      <label for="form1">Ампули</label>
                    </p>
                    <p>
                      <input type="checkbox" id="form2" name="form2">
                      <label for="form2">Таблетки</label>
                    </p>
                    <p>
                      <input type="checkbox" id="form3" name="form3">
                      <label for="form3">Мазь</label>
                    </p>
                    <p>
                      <input type="checkbox" id="form4" name="form4">
                      <label for="form4">Крем</label>
                    </p>
                    <p>
                      <input type="checkbox" id="form5" name="form5">
                      <label for="form5">Спрей</label>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="sidebar__box">
              <form>
                <div class="filter">
                  <h1 class="filter__title"> Торгова марка</h1>
                  <div class="filter__inputs-wrap">
                    <div class="filter__inputs js-custom-scroll">
                      <p>
                        <input type="checkbox" id="mark1" name="mark1">
                        <label for="mark1">Vichy</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark2" name="mark2">
                        <label for="mark2">La roshe posay</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark3" name="mark3">
                        <label for="mark3">Pharmatheiss cosmetics</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark4" name="mark4">
                        <label for="mark4">Doliva</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark5" name="mark5">
                        <label for="mark5">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark6" name="mark6">
                        <label for="mark6">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark7" name="mark7">
                        <label for="mark7">Pharmatheiss cosmetics</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark8" name="mark8">
                        <label for="mark8">La roshe posay</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark9" name="mark9">
                        <label for="mark9">Pampers</label>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          <div class="sidebar__box">
            <form>
              <div class="filter">
                <h1 class="filter__title">Країна виробник:</h1>
                <div class="filter__inputs-wrap">
                  <div class="filter__inputs js-custom-scroll">
                    <p>
                      <input type="checkbox" id="brend1" name="brend1">
                      <label for="brend1">Україна</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend2" name="brend2">
                      <label for="brend2">Польща</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend3" name="brend3">
                      <label for="brend3">Німеччина</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend4" name="brend4">
                      <label for="brend4">Китай</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend5" name="brend5">
                      <label for="brend5">Франція</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend6" name="brend6">
                      <label for="brend6">Pampers</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend7" name="brend7">
                      <label for="brend7">cosmetics</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend8" name="brend8">
                      <label for="brend8">Pampers</label>
                    </p>
                    <p>
                      <input type="checkbox" id="brend9" name="brend9">
                      <label for="brend9">Pampers</label>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="sidebar__box">
             <form>
              <div class="filter">
                <h1 class="filter__title">Вид:</h1>
                <div class="filter__inputs-wrap">
                  <div class="filter__inputs js-custom-scroll">
                    <p>
                      <input type="checkbox" id="type1" name="type1">
                      <label for="type1">Аюрведичні</label>
                    </p>
                    <p>
                      <input type="checkbox" id="type2" name="type2">
                      <label for="type2">Органічні</label>
                    </p>
                    <p>
                      <input type="checkbox" id="type3" name="type3">
                      <label for="type3">Натуральні</label>
                    </p>
                    <p>
                      <input type="checkbox" id="type4" name="type4">
                      <label for="type4">Рослинні</label>
                    </p>
                    <p>
                      <input type="checkbox" id="type5" name="type5">
                      <label for="type5">Гомеопатичні</label>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="layer js-layer-close"></div>
  </div>

  <div class="left-menu"  data-menu="mobSort">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Сортувати</div>
        <button><span></span><span></span></button>
      </div>
      <div class="left-menu__content">
        <ul>
          <li class="left-menu__content__item left-menu__group">
            <ul>
              <li><a href="#">Ціна</a></li>
              <li><a href="#">Назва</a></li>
            </ul>
          </li>
        </ul>
      </div> 
    </div>
    <div class="layer js-layer-close"></div>
  </div>

  <div class="left-menu"  data-menu="mobFilterCatalog">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Фільтр</div>
        <button><span></span><span></span></button></div>
      <div class="left-menu__content">
        <div class="wrap-sidebar">
          <div class="sidebar">
            <h3 class="sidebar__title">Медикаменти:</h3>
            <ul>
              <li class="sidebar__item"><a href="#">Антибіотики та антибактеріальні</a></li>
              <li class="sidebar__item"><a href="#">Антисептика та ранозагоюючі</a></li>
              <li class="sidebar__item"><a href="#">Від похмілля</a></li>
              <li class="sidebar__item"><a href="#">Від тиску</a></li>
              <li class="sidebar__item"><a href="#">Від храпу</a></li>
              <li class="sidebar__item"><a href="#">Для вух</a></li>
              <li class="sidebar__item"><a href="#">Для жінок</a></li>
              <li class="sidebar__item"><a href="#">Для лікування анемії</a></li>
              <li class="sidebar__item"><a href="#">Для нирок</a></li>
              <li class="sidebar__item"><a href="#">Для очей</a></li>
              <li class="sidebar__item"><a href="#">Для печінки та жовчного міхура</a></li>
              <li class="sidebar__item"><a href="#">Для серця</a></li>
              <li class="sidebar__item"><a href="#">Для судин</a></li>
              <li class="sidebar__item"><a href="#">Для чоловіків</a></li>
              <li class="sidebar__item"><a href="#">Для шлунку та кишечника</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="layer js-layer-close"></div>
  </div>

  <div class="left-menu"  data-menu="mobFilterCategory">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Фільтр</div>
        <button><span></span><span></span></button></div>
      <div class="left-menu__content">
        <div class="wrap-sidebar">
            <div class="sidebar">
              <h3 class="sidebar__title">Медикаменти:</h3>
              <ul>
                <li class="sidebar__item"><a href="#">Для зниження холестерину</a></li>
                <li class="sidebar__item"><a href="#">Для покращення мозкового кровообігу</a></li>
                <li class="sidebar__item"><a href="#">Для розрідження крові</a></li>
                <li class="sidebar__item"><a href="#">При варекозі венотоніки</a></li>
              </ul>
            </div>
            <div class="sidebar__box">
              <form>
                <div class="filter">
                  <h1 class="filter__title">Форма випуску:</h1>
                  <div class="filter__inputs-wrap">
                    <div class="filter__inputs js-custom-scroll">
                      <p>
                        <input type="checkbox" id="form1" name="form1">
                        <label for="form1">Ампули</label>
                      </p>
                      <p>
                        <input type="checkbox" id="form2" name="form2">
                        <label for="form2">Таблетки</label>
                      </p>
                      <p>
                        <input type="checkbox" id="form3" name="form3">
                        <label for="form3">Мазь</label>
                      </p>
                      <p>
                        <input type="checkbox" id="form4" name="form4">
                        <label for="form4">Крем</label>
                      </p>
                      <p>
                        <input type="checkbox" id="form5" name="form5">
                        <label for="form5">Спрей</label>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="sidebar__box">
              <form>
                <div class="filter">
                  <h1 class="filter__title"> Торгова марка</h1>
                  <div class="filter__inputs-wrap">
                    <div class="filter__inputs js-custom-scroll">
                      <p>
                        <input type="checkbox" id="mark1" name="mark1">
                        <label for="mark1">Vichy</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark2" name="mark2">
                        <label for="mark2">La roshe posay</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark3" name="mark3">
                        <label for="mark3">Pharmatheiss cosmetics</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark4" name="mark4">
                        <label for="mark4">Doliva</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark5" name="mark5">
                        <label for="mark5">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark6" name="mark6">
                        <label for="mark6">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark7" name="mark7">
                        <label for="mark7">Pharmatheiss cosmetics</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark8" name="mark8">
                        <label for="mark8">La roshe posay</label>
                      </p>
                      <p>
                        <input type="checkbox" id="mark9" name="mark9">
                        <label for="mark9">Pampers</label>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="sidebar__box">
              <form>
                <div class="filter">
                  <h1 class="filter__title">Країна виробник:</h1>
                  <div class="filter__inputs-wrap">
                    <div class="filter__inputs js-custom-scroll">
                      <p>
                        <input type="checkbox" id="brend1" name="brend1">
                        <label for="brend1">Україна</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend2" name="brend2">
                        <label for="brend2">Польща</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend3" name="brend3">
                        <label for="brend3">Німеччина</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend4" name="brend4">
                        <label for="brend4">Китай</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend5" name="brend5">
                        <label for="brend5">Франція</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend6" name="brend6">
                        <label for="brend6">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend7" name="brend7">
                        <label for="brend7">cosmetics</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend8" name="brend8">
                        <label for="brend8">Pampers</label>
                      </p>
                      <p>
                        <input type="checkbox" id="brend9" name="brend9">
                        <label for="brend9">Pampers</label>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="sidebar__box">
              <form>
                <div class="filter">
                  <h1 class="filter__title">Вид:</h1>
                  <div class="filter__inputs-wrap">
                    <div class="filter__inputs js-custom-scroll">
                      <p>
                        <input type="checkbox" id="type1" name="type1">
                        <label for="type1">Аюрведичні</label>
                      </p>
                      <p>
                        <input type="checkbox" id="type2" name="type2">
                        <label for="type2">Органічні</label>
                      </p>
                      <p>
                        <input type="checkbox" id="type3" name="type3">
                        <label for="type3">Натуральні</label>
                      </p>
                      <p>
                        <input type="checkbox" id="type4" name="type4">
                        <label for="type4">Рослинні</label>
                      </p>
                      <p>
                        <input type="checkbox" id="type5" name="type5">
                        <label for="type5">Гомеопатичні</label>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            
          </div>
      </div>
    </div>
    <div class="layer js-layer-close"></div>
  </div>

  <div class="left-menu"  data-menu="mobFilterProduct">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Меню</div>
        <button><span></span><span></span></button></div>
      <div class="left-menu__content">
        <div class="wrap-sidebar">
          <div class="sidebar">
            <h3 class="sidebar__title">Медикаменти:</h3>
            <ul>
              <li class="sidebar__item"><a href="#">Антибіотики та антибактеріальні</a></li>
              <li class="sidebar__item"><a href="#">Антисептика та ранозагоюючі</a></li>
              <li class="sidebar__item"><a href="#">Від похмілля</a></li>
              <li class="sidebar__item"><a href="#">Від тиску</a></li>
              <li class="sidebar__item"><a href="#">Від храпу</a></li>
              <li class="sidebar__item"><a href="#">Для вух</a></li>
              <li class="sidebar__item"><a href="#">Для жінок</a></li>
              <li class="sidebar__item"><a href="#">Для лікування анемії</a></li>
              <li class="sidebar__item"><a href="#">Для нирок</a></li>
              <li class="sidebar__item"><a href="#">Для очей</a></li>
              <li class="sidebar__item"><a href="#">Для печінки та жовчного міхура</a></li>
              <li class="sidebar__item"><a href="#">Для серця</a></li>
              <li class="sidebar__item"><a href="#">Для судин</a></li>
              <li class="sidebar__item"><a href="#">Для чоловіків</a></li>
              <li class="sidebar__item"><a href="#">Для шлунку та кишечника</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    <div class="layer js-layer-close"></div>
  </div>
  <!-- /mob_menuSortFilter -->
<!-- mob_menuSuggest -->
  <div class="left-menu"  data-menu="mobFilterSuggest">
    <div class="left-menu__wrap">
      <div class="left-menu__close">
        <div class="left-menu__title">Фільтр</div>
        <button><span></span><span></span></button>
      </div>
      <div class="left-menu__content">
        <ul>
          <li class="left-menu__content__item left-menu__group">
            <ul>
              <li><a href="#">Ароматерапія</a></li>
              <li><a href="#">Лікарські трави</a></li>
              <li><a href="#">При нежиті</a></li>
              <li><a href="#">При болі в горлі</a></li>
              <li><a href="#">Для покращення імунітету</a></li>
              <li><a href="#">При болі в горлі</a></li>
              <li><a href="#">При нежиті</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="layer js-layer-close"></div>
  </div>
<!-- /mob_menuSuggest -->