<section class="top-slider">
    <div class="mbox">
        <div class="top-slider__content">
            <div class="top-slider__wrap">
                <div class="top-slider__slide-wrap">
                    <div class="top-slider__slide">
                        <div class="top-slider__left">
                            <h2>Оливкова олія</h2>
                            <h3>помічник для схуднення</h3>
                            <p>При регулярному використанні дозволяє запобігти появі ракових пухлин...</p>
                            <a href="#" class="button"><span>Детальніше</span></a>
                        </div>
                        <div class="top-slider__right">
                            <img src="images/olive.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="top-slider__slide-wrap">
                    <div class="top-slider__slide">
                        <div class="top-slider__left">
                            <h2>Оливкова елементарно олія</h2>
                            <h3>помічник для схуднення</h3>
                            <p>При регулярному використанні дозволяє запобігти появі ракових пухлин...</p>
                            <a href="#" class="button"><span>Детальніше</span></a>
                        </div>
                        <div class="top-slider__right">
                            <img src="images/olive.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="top-slider__slide-wrap">
                    <div class="top-slider__slide">
                        <div class="top-slider__left">
                            <h2>Оливкова третя олія</h2>
                            <h3>помічник для схуднення</h3>
                            <p>При регулярному використанні дозволяє запобігти появі ракових пухлин...</p>
                            <a href="#" class="button"><span>Детальніше</span></a>
                        </div>
                        <div class="top-slider__right">
                            <img src="images/olive.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="paginator">
                <div class="paginator__area">
                    <div class="paginator__line"></div>
                </div>
                <div class="paginator__pin"></div>
            </div>
        </div>
    </div>
</section>